/* generali */

.mycont{
  width: 100%;
  padding: 0 1rem;
}
@media (min-width:576px) {
  .mycont{
    padding: 0 1.5rem;
  }
}
/* header */

.main-header-top {
  background-color: black;
}

.navbar-2nd {
  flex-grow: 0 !important;
}
.navbar ul li a, .navbar ul li button{
  font-size: 24px;
}
/* hero  */

.hero {
  background-image: url(../img/jumbo-bg.png);
  background-size: cover;
  background-position: top;
  height: 600px;
}

.hero .hero-img {
  width: 55%;
  height: auto;
}

.hero .hero-button{
  background-color: #CD3D0F;
  color: white;
}

.hero h2{
  font-size: 3rem;
}

/* prima sezione col carosello */

.mycarousel img{
  border-radius: 20px;
  
}
.mycarousel .carousel-highlight:active img{
  border: 4px solid #2385D5;
  padding: 1px;
  
}